/.vs/LukNotificator/DesignTimeBuild
/.vs/LukNotificator/FileContentIndex
/.vs/LukNotificator/v17
/.vs/ProjectEvaluation
/LukNotificator.Test/bin/Debug/net8.0
/LukNotificator.Test/obj/Debug/net8.0
/LukNotificator.Test/obj
/LukNotificator/obj/Debug/net8.0
/TelegramBotHelper/obj/Debug/net8.0
/TelegramBotHelper/obj
/TelegramBotHelper/bin/Debug/net8.0
/LukNotificator/obj
/LukNotificator/bin/Debug/net8.0
/*.user
